<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tablet_layout.css">
</head>
<body>
    <header id="main_header">
        <h1>Fluid</h1>
    </header>       
    <nav id="main_gnb">
        <ul class="left">
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
            <li><a href="#">Button</a></li>
        </ul>
       <ul class="right">
        <li><a href="#">Button</a></li>
        <li><a href="#">Button</a></li>
       </ul>
    </nav>
    <div id="wrap">
        <nav id="main_lnb">
            <ul>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
                <li><a href="#">Button</a></li>
            </ul>
         </nav>
        <div id="content_wrap">
            <div id="content">
                <article>
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                    <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id qui incidunt illo vel voluptatibus pariatur facere ex magnam ullam? Labore consequuntur architecto autem porro ea sapiente at, fugiat necessitatibus!</P>
                    <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id qui incidunt illo vel voluptatibus pariatur facere ex magnam ullam? Labore consequuntur architecto autem porro ea sapiente at, fugiat necessitatibus!</P>
                </article>
                <article>
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                    <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id qui incidunt illo vel voluptatibus pariatur facere ex magnam ullam? Labore consequuntur architecto autem porro ea sapiente at, fugiat necessitatibus!</P>
                    <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id qui incidunt illo vel voluptatibus pariatur facere ex magnam ullam? Labore consequuntur architecto autem porro ea sapiente at, fugiat necessitatibus!</P>
                </article>
                <article>
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                    <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id qui incidunt illo vel voluptatibus pariatur facere ex magnam ullam? Labore consequuntur architecto autem porro ea sapiente at, fugiat necessitatibus!</P>
                    <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id qui incidunt illo vel voluptatibus pariatur facere ex magnam ullam? Labore consequuntur architecto autem porro ea sapiente at, fugiat necessitatibus!</P>
                </article>
            </div>
        </div>
    </div>
    <footer id="main_footer">
        <h3>HTML5 + Basic</h3>
        <address>Website Layout Basic</address>
    </footer>
</body>
</html>