<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test1_layout.css"></head>
    <body>
        <!-- <header id="main_header">
            <h1>Market Kurly</h1>
        </header>       -->
        <nav id="main_gnb">
            <ul>
                <li><a href="#">회원가입</a></li>
                <li><a>Ι</a></li>
                <li><a href="#">로그인</a></li>
                <li><a >Ι</a></a></li>
                <li><a href="#">고객센터</a></li>  
            
            </ul>
        </nav>
        
        <nav id="main_top">
            <ul>
                <a class="font_bold font_small"><p><a href="#">샛별·택배 배송안내></a></P></a>
            </ul>
        </nav>
        <br />
        <div id="main_img">
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDEyMjRfMjc2%2FMDAxNjA4Nzk4MTkzODIw.jGRflazrr5Ew2RHbZCE0hOOB_TvVZp2VNbakmLIwxt4g.mAANi5QYwfYegkAsKIoCg8-01r1ztVPyOYW3f24MMm0g.PNG.elliehan_%2F20201224_172300.png&type=sc960_832" width="150" height="150" />
        </div>
        <nav id="main_gnb">
            <ul class="left">
                <li><a href="#">三 전체 카테고리</a></li>
                <li><br /><a></a></li> 
                <li><a href="#">신상품</a></li>
                <li><br /><a></a></li> 
                <li><a href="#">베스트</a></li>
                <li><br /><a></a></li> 
                <li><a href="#">알뜰쇼핑</a></li>
                <li><br /><a></a></li> 
                <li><a href="#">특가/혜택</a></li>
            
            </ul>
           <ul class="right">
           <form>
               <input type="text" name="search" />
               <input type="submit" /><p></p>
           </ul>
           <br />
           <br />
        </nav>
        <div id="main_market">
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA2MTNfMTE5%2FMDAxNTYwNDAyNTUwMzY5.mnpgH_-Z-skcs8bJho5RgLyQst3Hrdpo4Cqm1uM_F9Eg.ucUh5xqP-YUD2oU0l2TPoVMBzawSSutBSr8OXKCHpWYg.JPEG.cdbench%2F000.JPG&type=sc960_832" width="1000" height="300" />
        </div>
        <br />
        <br />
        <article class="main_article">
            <a class="font_bold font_big font_center"><h1>이 상품 어때요?</h1></a>
        </article>
        <br /> <br />
        

        <div id="footer"></div>
    <a class="font_big font_italic font_bold font_center"><h3>ABOUT US</h3></a>
    <br /><br />
    <a class="font_italic font_center"><P> Happiness can be found 
        even at the darkest of times.<br />
        It does not to dwell on
        dreams and forget to live.<br /> </P></a>
        <br />
        <hr />
        <br />
        <div id="footer"><a class="font_center"><h3><b>CONTACT US</b></h3></div></a>
        <br />

     
        <nav id="main_foot">
            <ul class="right">
                <li><a href="#">컬리소개</a></li>
                <li><br /><a></a></li> 
                <li><a href="#">컬리소개영상</a></li>
                <li><br /><a></a></li> 
                <li><a href="#">인재채용</a></li>
                <li><br /><a></a></li> 
                <li><a href="#">이용약관</a></li>
                <li><br /><a></a></li>  
                <li><a href="#">개인정보처리방침</a></li>
                <li><br /><a></a></li>  
                <li><a href="#">이용안내</a></li>
                <li><br /><a></a></li> 
           </ul>
         </nav>


     


        <div id="adress">
            <a class="font_italic font_bold font_left"><h3>고객행복센터</h3></a><br />
            <a class="font_big font_italic font_left font_bold"><p>1644-1234</P></a><br />
        </div>
        <div id="adress2">
            <div class="kaka"><a href="#">카카오톡 문의</a></div><br />
            <div class="answer"><a href="#">1:1 문의</a></div><br />
            <div class="many"><a href="#">대량주문 문의</a></div><br />
        </div> 
            <br />

            <div id="foot">
                <strong>365고객센터</strong>
                <p>오전7시-오후7시</P><br />
                <strong>24시간 접수 가능</strong>
                <p>고객센터 운영시간에 순차적으로 답변해드리겠습니다.</P><br />
                
                <p>비회원의 경우 메일로 문의 바랍니다.</P><br />
            </div>
           
         
        </body>
        </html>
